<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOBI BYTE | Make a Website, Together</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <div class="header-content">
            <div><a href="/">Mobi Byte</a> — <span class="header-title">Making a Website, Together</span></div>
            <div>Fall 2022</div>
        </div>
        <hr />
    </header>

    <main>{{ content | safe }}</main>

    <footer>
        <hr />
        <div>&copy; 2022 • Mobi Software Development Club</div>
    </footer>
</body>

</html>